body {
    margin: 0;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 100%;

}

li {
    margin: 0 0.50em 0 0.50em;
}


#navbar {
    position: sticky;
    top: 0;
    background-color:#411f4f;
    height: 10vh;
    border: 1px black solid;
}

#welcome-section {
    background-color: #452d4f;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

p {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
    background-color: #007564;
}